<div>
    <ui-gmap-google-map center="map.center" zoom="map.zoom">
        <ui-gmap-marker data-ng-repeat="item in data" idKey= item.venue.id coords='{ latitude: item.venue.location.lat, longitude: item.venue.location.lng }'>
           <ui-gmap-window>
            <div><a href=/#/location/{{item.venue.id}}>{{ (item.venue.name==""||item.venue.name==false)?"N.A":item.venue.name }}<br></a></div>
          </ui-gmap-window> 
        </ui-gmap-marker>
    </ui-gmap-google-map>
</div>
<div class='listLoc' ng-repeat="item in data">
    <loc item="item"></loc>
</div>
