<div>
    Name: <a href=/#/location/{{item.venue.id}}>{{ (item.venue.name==""||item.venue.name==false)?"N.A":item.venue.name }}<br></a>
    Address: {{ (item.venue.location.address==""||item.venue.location.address==false)?"N.A":item.venue.location.address }}<br>
    Cross Street: {{ (item.venue.location.crossStreet==""||item.venue.location.crossStreet==false)?"N.A":item.venue.location.crossStreet }}<br>
    City: {{ (item.venue.location.city==""||item.venue.location.city==false)?"N.A":item.venue.location.city }}<br>
    State: {{ (item.venue.location.state==""||item.venue.location.state==false)?"N.A":item.venue.state }}<br>
    Postal Code: {{ (item.venue.location.postalCode==""||item.venue.location.postalCode==false)?"N.A":item.venue.location.postalCode }}<br>
    Country: {{ (item.venue.location.country==""||item.venue.location.country==false)?"N.A":item.venue.location.country }}<br>
    Distance: {{ (item.venue.location.distance==""||item.venue.location.distance==false)?"N.A":item.venue.location.distance +" metres" }}<br>
</div>